/* animation on scroll */
.fromBottom {
    opacity: 0;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transform: translateY(5%);
}
.fromBottom.appear {
    z-index: 0;
    opacity: 1;
    transform: translateY(0);
}
