.container {
    min-height: 100vh;
    background: salmon;
} 
.slideShow,
.stats,
.seasons,
.merch,
.contact {
    height: 100vh; 
    color: white;
    display: flex;
    justify-content: center;
}
.slideShow {
    background: palegoldenrod;
}
.slideShow p {
    margin-top: 100px;
}
.stats {
    background: green;
}
.stats p {
    margin-top: 100px;
}
/* Responsive background images: https://aclaes.com/responsive-background-images-with-srcset-and-sizes/ */
.seasons {
    background-image: url(./images/seasons.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 100%;
}
}
.seasons p {
    margin-top: 100px;
}
.merch {
    background: tomato;
}
.merch p {
    margin-top: 100px;
}
.contact {
    background: dodgerblue;
}
.contact p {
    margin-top: 100px;
}
footer {
    height: 30vh;
    background: gray;
}