.container {
    min-height: 100vh;
    background: salmon;
} 
.slideShow,
.stats,
.seasons,
.merch,
.contact {
    height: 100vh; 
    color: white;
    display: flex;
    justify-content: center;
}
.slideShow {
    background: palegoldenrod;
}
.slideShow p {
    margin-top: 100px;
}
.stats {
    background: green;
}
.stats p {
    margin-top: 100px;
}
.seasons {
    background: olivedrab;
}
.seasons p {
    margin-top: 100px;
}
.merch {
    background: tomato;
}
.merch p {
    margin-top: 100px;
}
.contact {
    background: dodgerblue;
}
.contact p {
    margin-top: 100px;
}
footer {
    height: 30vh;
    background: gray;
}