* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
p {
    font-size: 2em;
}
.seasons {
    background: url(/images/seasons.jpg) no-repeat bottom;
    min-height: 100vh;
    background-size: contain;
}



