* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'aktivgrotesk-regular', sans-serif;
    background-color: #000; /** The figma file have black background from top to bottom **/
}
p {
    font-size: 2em;
}
.seasons {
    background: url(/images/seasons.jpg) no-repeat bottom;
    min-height: 100vh;
    background-size: contain;
}


