.panel {
    height: 100vh;
    width: 100%;
}
.panelMobile {
    object-fit: cover;
}
/* Medium devices (landscape tablets, 500px and up) */
@media only screen and (min-width: 500px) { 
    .panelMobile {
        display: none;
    }
    .panel {
        width: 1440px;
        min-height: 981px;  
    }
    .panelDesktop {
        object-fit: cover;
    }
}
